In [1]:
numbers [1, 2, 3, 4, 5, 6]

NameError: name 'numbers' is not defined

In [2]:
Numbers = [1, 2, 3, 4, 5, 6]

In [3]:
Numbers

[1, 2, 3, 4, 5, 6]

In [4]:
len (Numbers)

6

In [5]:
Numbers.append(6)

In [6]:
Numbers

[1, 2, 3, 4, 5, 6, 6]

In [7]:
Numbers[2:5]

[3, 4, 5]

In [8]:
Numbers[:4]

[1, 2, 3, 4]

In [9]:
Numbers[1:]

[2, 3, 4, 5, 6, 6]

In [10]:
biodata = {
    "nama" : "andi",
    "umur" : "20",
    "alamat" : "bogor"
}

In [11]:
biodata.keys()

dict_keys(['nama', 'umur', 'alamat'])

In [12]:
biodata.values()

dict_values(['andi', '20', 'bogor'])

In [13]:
import pandas as pd

In [14]:
outlook = [
"sunny", "sunny", "overcast", "rainy", "rainy",
"rainy", "overcast", "sunny", "sunny", "rainy",
"sunny", "overcast", "overcast", "rainy",
]

temp [
"hot", "hot", "hot", "mild", "cool",
"cool", "cool", "mild","cool","mild",
"mild","mild","hot","mild",
]

humadity[
"high","high","high","high","normal",
"normal","normal","high","normal","normal",
"normal","high","normal","high",
]

windy = [
False,True,False,False,False,
True,True,False,False,False,
True,True,False,True,
]

play = [
"no","no","yes","yes","yes",
"no", "yes","no","yes","yes",
"yes","yes","yes","no",
]

NameError: name 'temp' is not defined

In [15]:
outlook = [
"sunny", "sunny", "overcast", "rainy", "rainy",
"rainy", "overcast", "sunny", "sunny", "rainy",
"sunny", "overcast", "overcast", "rainy",
]

temp [
"hot", "hot", "hot", "mild", "cool",
"cool", "cool", "mild","cool","mild",
"mild","mild","hot","mild",
]

humadity[
"high","high","high","high","normal",
"normal","normal","high","normal","normal",
"normal","high","normal","high",
]

windy = [
False,True,False,False,False,
True,True,False,False,False,
True,True,False,True,
]

play = [
"no","no","yes","yes","yes",
"no", "yes","no","yes","yes",
"yes","yes","yes","no",
]

NameError: name 'temp' is not defined

In [16]:
outlook = [
"sunny", "sunny", "overcast", "rainy", "rainy",
"rainy", "overcast", "sunny", "sunny", "rainy",
"sunny", "overcast", "overcast", "rainy",
]

temp = [
"hot", "hot", "hot", "mild", "cool",
"cool", "cool", "mild","cool","mild",
"mild","mild","hot","mild",
]

humadity = [
"high","high","high","high","normal",
"normal","normal","high","normal","normal",
"normal","high","normal","high",
]

windy = [
False,True,False,False,False,
True,True,False,False,False,
True,True,False,True,
]

play = [
"no","no","yes","yes","yes",
"no", "yes","no","yes","yes",
"yes","yes","yes","no",
]

In [17]:
df = pd.DataFrame(
    {
    "outlook" : outlook,
    "temp" : temp,
    "humadity" : humadity,
    "windy" : windy,
    "play" : play,
    }
)

In [18]:
df

     outlook  temp humadity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [19]:
df.shape

(14, 5)

In [20]:
df.describe()

       outlook  temp humadity  windy play
count       14    14       14     14   14
unique       3     3        2      2    2
top      sunny  mild   normal  False  yes
freq         5     6        7      8    9

In [21]:
df.outlook.describe()

count        14
unique        3
top       sunny
freq          5
Name: outlook, dtype: object

In [22]:
df=["new_column"] = "new value"

SyntaxError: can't assign to literal (<ipython-input-22-10d8e98c8e37>, line 1)

In [23]:
df["new_column"] = "new value"

In [24]:
df

     outlook  temp humadity  windy play new_column
0      sunny   hot     high  False   no  new value
1      sunny   hot     high   True   no  new value
2   overcast   hot     high  False  yes  new value
3      rainy  mild     high  False  yes  new value
4      rainy  cool   normal  False  yes  new value
5      rainy  cool   normal   True   no  new value
6   overcast  cool   normal   True  yes  new value
7      sunny  mild     high  False   no  new value
8      sunny  cool   normal  False  yes  new value
9      rainy  mild   normal  False  yes  new value
10     sunny  mild   normal   True  yes  new value
11  overcast  mild     high   True  yes  new value
12  overcast   hot   normal  False  yes  new value
13     rainy  mild     high   True   no  new value

In [25]:
df["play-1"] = df["play"].shift[-1]

TypeError: 'method' object is not subscriptable

In [26]:
df["play-1"] = df["play"].shift(-1)

In [27]:
df

     outlook  temp humadity  windy play new_column play-1
0      sunny   hot     high  False   no  new value     no
1      sunny   hot     high   True   no  new value    yes
2   overcast   hot     high  False  yes  new value    yes
3      rainy  mild     high  False  yes  new value    yes
4      rainy  cool   normal  False  yes  new value     no
5      rainy  cool   normal   True   no  new value    yes
6   overcast  cool   normal   True  yes  new value     no
7      sunny  mild     high  False   no  new value    yes
8      sunny  cool   normal  False  yes  new value    yes
9      rainy  mild   normal  False  yes  new value    yes
10     sunny  mild   normal   True  yes  new value    yes
11  overcast  mild     high   True  yes  new value    yes
12  overcast   hot   normal  False  yes  new value     no
13     rainy  mild     high   True   no  new value    NaN

In [28]:
df.head()

    outlook  temp humadity  windy play new_column play-1
0     sunny   hot     high  False   no  new value     no
1     sunny   hot     high   True   no  new value    yes
2  overcast   hot     high  False  yes  new value    yes
3     rainy  mild     high  False  yes  new value    yes
4     rainy  cool   normal  False  yes  new value     no

In [29]:
df.tail()

     outlook  temp humadity  windy play new_column play-1
9      rainy  mild   normal  False  yes  new value    yes
10     sunny  mild   normal   True  yes  new value    yes
11  overcast  mild     high   True  yes  new value    yes
12  overcast   hot   normal  False  yes  new value     no
13     rainy  mild     high   True   no  new value    NaN

In [30]:
df.sample()

     outlook temp humadity  windy play new_column play-1
12  overcast  hot   normal  False  yes  new value     no

In [31]:
df=[["outlook", "temp"]]

In [32]:
df[["outlook", "temp"]]

TypeError: list indices must be integers or slices, not list

In [33]:
df.sample()

AttributeError: 'list' object has no attribute 'sample'

In [34]:
outlook = [
"sunny", "sunny", "overcast", "rainy", "rainy",
"rainy", "overcast", "sunny", "sunny", "rainy",
"sunny", "overcast", "overcast", "rainy",
]

temp = [
"hot", "hot", "hot", "mild", "cool",
"cool", "cool", "mild","cool","mild",
"mild","mild","hot","mild",
]

humadity = [
"high","high","high","high","normal",
"normal","normal","high","normal","normal",
"normal","high","normal","high",
]

windy = [
False,True,False,False,False,
True,True,False,False,False,
True,True,False,True,
]

play = [
"no","no","yes","yes","yes",
"no", "yes","no","yes","yes",
"yes","yes","yes","no",
]

In [35]:
df.sample()

AttributeError: 'list' object has no attribute 'sample'

In [36]:
df = pd.DataFrame(
    {
    "outlook" : outlook,
    "temp" : temp,
    "humadity" : humadity,
    "windy" : windy,
    "play" : play,
    }
)

In [37]:
df

     outlook  temp humadity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [38]:
df.sample()

     outlook temp humadity  windy play
12  overcast  hot   normal  False  yes

In [39]:
df.outlook

0        sunny
1        sunny
2     overcast
3        rainy
4        rainy
5        rainy
6     overcast
7        sunny
8        sunny
9        rainy
10       sunny
11    overcast
12    overcast
13       rainy
Name: outlook, dtype: object

In [40]:
df.outlook.unique()

array(['sunny', 'overcast', 'rainy'], dtype=object)